/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #1A2B33;
  font-family: "Outfit", sans-serif;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: "Outfit";
  src: url("./outfit.ttf");
}

.container {
  padding: 20px;
  height: 100vh; /* 100% of viewport's height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header {
  width: 100vw; /* 100% of viewport's width */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.name {
  grid-column: 1/2;
}

.turn {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  padding: 10px 25px;
  background-color: #1e3640;
  box-shadow: 5px 5px 8px black;
  font-size: 2rem;
  font-weight: bold;
  color: grey;
  border-radius: 8px;
}

.main {
  display: grid;
  grid-template-rows: 1fr 8fr; /* This will keep the board in place so it won't be pushed down
  when the reset button shows up */
  gap: 30px;
}

#resetBtn {
  grid-row: 1/2;
  justify-self: center;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

.board {
  grid-row: 2;
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* border: 1px solid black; */
  gap: 50px;
  padding: 2px;
  }
  
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 2px solid rgb(98, 96, 96);
  border-radius: 8px;
  box-shadow: 5px 5px 8px black;
  background: #1e3640;
  cursor: pointer;
}